*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
  background-color: #000000;
  color: white;
}
.navbar{
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
h1 span.pink {
  color: #d7df23;
}

.li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    list-style-type: none;
    gap: 50px;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.3s;
}

a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  bottom: -3px;
  background-color: #d7df23;
  transition: width 0.15s ease;
  border-radius: 10px;
}

a:hover::after {
  width: 100%;
}

.main{
  position: relative;
  background-image: url("./images/main.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.main h2 {
  color: #d7df23;
  font-size: 3rem;
  padding-top: 180px;
  padding-left: 30px;
}
.main p {
  padding-left: 30px;
  width: 55%;
}
.main button{
  background-color:#d7df23;
  padding: 8px 16px;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  margin-top: 80px;
  margin-left: 60px;
}
.main button:hover{
  cursor: pointer;
  background-color:#c8d123;
  transform: scale(1.05);
}